.main-footer {
  width: 100%;
}

.main-footer .img-container {
  height: 400px;
  background: url(../img/img-footer-mobile.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.main-footer .atendimento-redes {
  background-color: var(--background-tertiary-color);
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.main-footer .atendimento-redes p {
  color: var(--background-secondary-color);
  font-size: 16px;
  line-height: 28px;
  font-weight: var(--text-weight);
  text-align: center;
}

.main-footer .atendimento-redes .atendimento {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.main-footer .atendimento-redes .redes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
