.offers-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.card {
  color: var(--text-secondary-color);
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  background-color: gray;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
}

.card header {
  display: block;
  position: static;
  background-color: transparent;
  padding: 0;
  margin-bottom: 24px;
}

.card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.card header h3 {
  font-size: 40px;
  font-weight: var(--titles-weight);
  margin: 8px 0 0;
}

.card header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}

.card.japao {
  background: url(../img/bd-card-japao.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.card.san-andreas {
  background: url(../img/bg-card-sanAndreas.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.card.paraiba {
  background: url(../img/bg-card-paraiba.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.card.manaus {
  background: url(../img/bg-card-manaus.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .offers-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    color: var(--text-secondary-color);
    width: 420px;
    height: 308px;
  }

  .card header h3 {
    font-size: 48px;
  }

  .card header span {
    font-size: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    color: var(--text-secondary-color);
    width: 588px;
    height: 308px;
  }
}

@media screen and (min-width: 1920px) {
  .offers-cards {
    width: 1250px;
    margin: 0 auto;
  }
}
